
      body{
        background-color: gray;
      }
      h1{
        background-color: blue;
        color: white;
        text-align: center;
      }

      p{
        color: navy;
      }

      e{
        color: red;
      }
